* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgba(8, 96, 134, 0.814);
}
.logo {
    font-size: 35px;
    color: white;
}
.logo span:nth-child(1) {
    color: rgb(238, 196, 9);
}
.filter_sort {
    width: 30%;
    display: flex;
    gap: 20px;
}
.filter_sort select {
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
}

.Search {
    width: 15%;
}
.Search input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.cart{
    display: flex;
    gap: 40px;
    font-size: 20px;
    cursor: pointer;

}
.cart a{
    color: rgb(16, 15, 15);
}

#container{
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;

}

#container div{
    padding: 20px;
    box-shadow: 0px 0px 2px gray;
}
#container div p{
    margin-top: 5px;
}
#container div p:nth-child(2){
    color: rgb(12, 12, 12);
    font-size:22px;
    font-weight: bold;

}

#container div p:nth-child(3){
    color: rgba(62, 61, 61, 0.522);
    font-size:16px;
    font-weight: bold;

}
#container div img{
    width: 80%;
    aspect-ratio: 5/5;
}

#container div h3{
    padding: 5px 0px;
}

#container div  button{
    padding:  5px;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 5px;
    background-color: #0fb1f0;
    color: white;

}

#container div  button:hover{
        background-color: #0a81b0fd;

    transition: .2s ease-out;
}